.become{
    margin: 50px 0 0 0;
    padding: 50px 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after{
        position: absolute;
        content: "";
        background-image: linear-gradient(to bottom, #374050 0%, #798696 50%);
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.9;
    }
    .become_info{
        z-index: 999;
        gap: 30px;
        h3{
            color: #fff;
            font-size: 30px;
            font-weight: 600;
            margin: 0;
        }
        p{
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.8;
            margin: 0;
            text-align: center;
            @media(max-width: 767px){
                font-size: 25px;
                text-align: center;
            }
        }
        a{
            border: 1px solid $fourth-color;
            border-radius: 4px;
            color: #fff;
            padding: 12px 30px;
            transition: 0.3s ease-in-out all;
            &:hover{
                background-color: $third-color;
                color: #fff;
                border-color: $third-color;
            }
        }
    }
}