header{
    position: relative;
    &:after{
        content: "";
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    .carousel-item{
        height: 100vh;
        img{
            object-fit: cover;
            height: 100vh;
        }
        .header_title{
            position: absolute;
            transform: translate(50%, 50%);
            top: 35%;
            right: 50%;
            z-index: 9999;
            h2{
                font-size: 45px;
                font-weight: 600;
                color: #fff;
                text-align: center;
                span{
                  color: #008F2C;
                  font-weight: 800;
                  @media(max-width: 767px){
                    margin-top: 28px;
                  }
                }
                @media(max-width: 767px){
                  font-size: 25px;
                }
              }
              @media(max-width: 767px){
                top: 25%
              }
            button,a{
              background-color: transparent;
              color: #DBDBDB;
              border: 1px solid #DBDBDB;
              padding: 10px 25px;
              border-radius: 6px;
              transition: 0.3s all ease-in-out;
              &:hover{
                background-color: #008F2C;
                color: #fff;
                border-color: #008F2C;
              }
            }
        }
    }
}
.custom-shape-divider-bottom-1710021382 {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710021382 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1710021382 .shape-fill {
    fill: #F9FAFB;
}
.mouse-down {
    position: absolute;
    max-width: 100px;
    top: 70%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 9;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transform: translateY(-50%);
    margin-top: 60px;
    @media(max-width: 767px){
      top: 55%;
    }
    .mouse {
      position: relative;
      border: 3px solid #fff;
      width: 25px;
      height: 40px;
      border-radius: 30px;
      margin: auto;
      .rat {
        position: absolute;
        width: 2px;
        height: 7px;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        border-radius: 30px;
        animation: moveUpAnimation 1s linear infinite;
      }
  
      @keyframes moveUpAnimation {
        0% {
          transform: translate(0, 0);
        }
  
        25% {
          transform: translate(0, -5px);
        }
        50% {
          transform: translate(0, -10px);
        }
        75% {
          transform: translate(0, -5px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }
  }