.number__services{
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media(max-width: 767px){
        padding: 20px 0;
        height: auto;
    }
    &:after{
        position: absolute;
        content: "";
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    .number__services__items{
        position: relative;
        z-index: 9999;
        @media(max-width: 767px){
            flex-wrap: wrap;
        }
        .number-services-item{
            h2{
                color: #fff;
                font-size: 22px;
            }
            p{
                color: $second-color;
                font-weight: 800;
                border: none;
                padding: 10px;
                border-radius: 50%;
                padding: 10px 12px 12px 10px;
                text-align: center;
                width: 130px;
                height: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                font-size: 45px;
                position: relative;
                &::after {
                    content: '';
  position: absolute;
  top: 0; /* Start at the top */
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff; /* White border */
  animation: circle-fill 2s ease-in-out forwards;
                  }
                  
                  
                
            }
        }
    }
}

@keyframes circle-fill {
    from {
      transform: scaleY(0); /* Start at 0 height (top) */
    }
    to {
      transform: scaleY(1); /* Grow to full height */
    }
  }