.store{
    nav,.sec__navbar{
        background-color: transparent;
        width: 100%;
        z-index: 9;
        width: 100%;
        padding: 10px 40px !important;
        border-bottom: 1px solid #ececec;
        .nav-link{
            color: #fff !important;
        }
        .colse_{
            // filter: invert(1);
        }
        .offcanvas-body{
            .navbar-brand{
                img{
                    width: 180px;
                    object-fit: cover;
                }
            }
            ul{
                gap: 8px;
                .nav-item {
                    .nav-link {
                        color: $third-color;
                        font-weight: 500;
                        font-size: 17px;
                        transition: 0.3s ease-in-out all;
                        position: relative;
                        &:hover {
                            color: $primary-color;
                        }
                        &.active {
                            color: $primary-color;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
        .navbar-toggler{
            // filter: invert(1);
            border: 0;
            &:active,&:focus{
                outline: none;
                border: 0;
                box-shadow: none;
            }
        }
        .offcanvas.offcanvas-start-lg{
            background: $primary-color;
            height: 100%;
            width: 250px;
            right: 0;
            @media(max-width: 991px){
                a{
                    color: #fff !important;
                }
                .offcanvas-body , .navbar__links{
                    justify-content: flex-start !important;
                    flex-direction: column !important;
                    align-items: flex-start  !important;
                    gap: 25px
                }
            }
        }
        .search__input{
            input{
                &::placeholder{
                    color: $third-color;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            select{
                color: $third-color;
                font-size: 16px;
                font-weight: 500;
                width: auto !important;
            }
        }
        @media(max-width: 991px){
            padding: 0 15px !important;
        }
    }
}