// Variables
$primary-color: #050505;
$second-color: #008F2C;
$third-color: #B9915E;
$fourth-color: #DBDBDB;
$fifth-color: #636363;
$sixth-color: #F9FAFB;
$gradient: linear-gradient(to right, $primary-color, $second-color);
