@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
@import '../themes/_color.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'cairo', sans-serif;
}
html{
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
body {
    direction: rtl;
    background-color: $sixth-color !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: $second-color;
    border-radius: 0px;
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: auto !important;
    text-transform: capitalize;
    font-family: 'cairo', sans-serif;
}

* {
    text-transform: capitalize;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}
button{
    background-color: transparent;
    border: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input[type="checkbox"]:checked {
    background-color: $second-color;
    color: $second-color;
    border-color: $second-color;
}
/////////////////////////////////
.title__section{
    padding: 35px 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: $second-color;
    margin-bottom: 35px;
}
.owl-nav{
    button{
        background-color: transparent !important;
    }
    span{
        font-size: 45px;
        color: $second-color;
    }
}
/////////////////////////
.contact__us__page{
    padding: 50px 0;
    form{
        padding: 15px;
        input,select,textarea{
            border-radius: 4px;
            width: 220px;
            height: 48px;
            border-color: $fourth-color;
            font-size: 14px;
            color: $primary-color;
            font-size: 14px;
            color: $primary-color;
            border-right: 0;
            &:focus{
                box-shadow: none;
                border-color: $fourth-color;
            }
            option{
                font-size: 14px;
                margin-bottom: 10px;
                color: $primary-color;
            }
            &::placeholder{
                font-size: 14px;
                color: $primary-color;
            }
        }
        .input-group-text{
            background-color: #fff;
        }
        label{
            color: $primary-color;
            font-size: 15px;
            font-weight: 500;
        }
        button,a{
            background: $second-color;
            border: 1px solid $second-color;
            padding: 8px 25px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 8px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            height: 40px;
        }
        @media(max-width: 991px){
            padding: 10px;
        }
    }
}
.contact__details{
    h5,a{
        color: $primary-color;
        font-size: 15px;
        font-weight: 500;
    }
    span{
        color: $fifth-color;
        font-size: 14px;
        font-weight: 400;
    }
}